*{
    font-family: "Roboto", sans-serif;
}
.more-about{
    transition: all 0.6s;
}
.more-about::before{
    margin-right: 5px;
    display: inline-block;
    content: "";
    width: 14px;
    height: 14px;
    background-image: url(./svg/strelka_vpravo_tfqhuc87md87.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.more-about:hover{
    background-color: blue;
}
.main-input::placeholder{
    color: red;
}
.main-button{
    cursor: pointer;
    width: 200px;
    height: 30px;
    border: 1px solid white;
    background-color: blue;
    color: #ffffff;
    border-radius: 20px;
    transition: all 0.6s;
}
.main-button:active{
    width: 190px;
    height: 25px;
    background-color: gray;
}
.checkbox :checked ~ label{
    color: red;
}
.more-about:hover::before{
    background-image: none;
    width: 0;
    height: 0;
    margin-right: 0;
}
.crestic{
    font-size: 40px;
    position: absolute;
    top: -50px;
    left: 400px;
}
.card{
    position: relative;
    width: 400px;
    height: 800px;
    background-color: #6F1EAA;
    margin: 30px 0 10px;
}
.notification{
    position: absolute;
    top: 100px;
    right: 100px;
    background-color: whitesmoke;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
}
.notification-h{
    font-size: 14px;
    font-weight: 400;
}
.notification-content{
    font-size: 12px;
}
.something{
    height: 40px;
    width: 10px;
    background-color: #6F1EAA;
}
.header{
    position: sticky;
    top: 10px;
    margin-top: 24px;
    width: 1220px;
    height: 70px;
    display: flex;
    background-color: #ffffff transparent;
    align-items: center;
    justify-content: space-between;
}
.header-navigation-list{
    padding: 0;
    display: flex;
    gap: 33px;
    list-style: none;
}
.header-navigation-list-item{
    line-height: 18.2px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}
.header-logo{
    margin-right: 80px;
}
.header-login-buttons{
    gap: 16px;
    display: flex;
    
}
.login_button{
    background-color: #ffffff;
    border: none;
    color: #6F1EAA;
}
.try_button{
    background-color: #6F1EAA;
    color: #ffffff;
    border: 1px, solid, #6F1EAA;
    border-radius: 19px;
    font-weight: bold;
}
.header-login-buttons-button{
    cursor: pointer;
    width: 150px;
    height: 38px;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}