@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes from-lightgray-to-gray {
    from { background-color: lightgray; }
    to { background-color: gray; }
}
@keyframes up-to-down {
    from { height: 10% }
    to { height: 100% }
}
@keyframes round-to-square {
    from { width: 10px; height: 10px;}
    50%{ width: 100px; height: 10px;}
    to { width: 100px; height: 100px;  }
}
*{
    font-family: "Roboto", sans-serif;
}
.sceleton{
    display: inline-block;
    width: 100%;
    height: 100%;
    animation: from-lightgray-to-gray 1s alternate infinite ease-in;
}
.accordeon{
    display: inline-block;
    width: 100%;
    height: 100%;
    animation: up-to-down 2s ease-in;
    background-color: black;
}
.round{
    display: inline-block;
    animation: round-to-square 2s ease-in;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: red;
}
.container{
    margin: 20px;
    width: 100px;
    height: 100px;
}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.spinner{
    animation: spin 3s infinite linear;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("./svg/spinner-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.more-about{
    transition: all 0.6s;
}
.main-checkbox-input{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.main-checkbox-container{
    width: 130px;
}
.custom-checkbox-label{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.main-checkbox-custom{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
    position: relative;
    transition: all 0.3s;
}
.main-checkbox-input:checked + .main-checkbox-custom{
    background-color: green;
}
.main-checkbox-input:checked + .main-checkbox-custom::after{
    content: "";
    position: absolute;
    top: 7px;
    left: 11px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.more-about::before{
    margin-right: 5px;
    display: inline-block;
    content: "";
    width: 14px;
    height: 14px;
    background-image: url(./svg/strelka_vpravo_tfqhuc87md87.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.more-about:hover{
    background-color: blue;
}
.main-button-containter{
    width: 200px;
    height: 30px;
}
.main-input::placeholder{
    color: red;
}
.main-button{
    cursor: pointer;
    width: 200px;
    height: 30px;
    border: 1px solid white;
    background-color: blue;
    color: #ffffff;
    border-radius: 20px;
    transition: all 0.6s;
}
.main-button:active{
    width: 190px;
    height: 25px;
    background-color: gray;
}
.checkbox :checked ~ label{
    color: red;
}
.crestic{
    font-size: 40px;
    position: absolute;
    top: -50px;
    left: 400px;
}
.card{
    position: relative;
    width: 400px;
    height: 800px;
    background-color: #6F1EAA;
    margin: 30px 0 10px;
}
.notification{
    position: absolute;
    top: 100px;
    right: 100px;
    background-color: whitesmoke;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
}
.notification-h{
    font-size: 14px;
    font-weight: 400;
}
.notification-content{
    font-size: 12px;
}
.something{
    height: 40px;
    width: 10px;
    background-color: #6F1EAA;
}
.header{
    position: sticky;
    top: 10px;
    margin-top: 24px;
    width: 1220px;
    height: 70px;
    display: flex;
    background-color: white transparent;
    align-items: center;
    justify-content: space-between;
}
.header-navigation-list{
    padding: 0;
    display: flex;
    gap: 33px;
    list-style: none;
}
.header-navigation-list-item{
    width: 100px;
    line-height: 18.2px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}
.header-logo{
    margin-right: 80px;
}
.header-login-buttons{
    gap: 16px;
    display: flex;
    
}
.login_button{
    background-color: #ffffff;
    border: none;
    color: #6F1EAA;
}
.try_button{
    background-color: #6F1EAA;
    color: #ffffff;
    border: 1px, solid, #6F1EAA;
    border-radius: 19px;
    font-weight: bold;
}
.header-login-buttons-button{
    cursor: pointer;
    width: 150px;
    height: 38px;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}